* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 50%, #f5f7fa 100%);
  /* və ya hava effekti üçün: */
  /* background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop'); */
  background-size: cover;
  background-attachment: fixed;
}